absl-py
astor
cycler
decorator
dlib
gast
grpcio
h5py
imageio
imgaug
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mock
networkx
numpy
opencv-python
pbr
Pillow
protobuf
pydot
pyparsing
python-dateutil
PyWavelets
PyYAML
scikit-image
scikit-learn
scipy
Shapely
six
sklearn
tensorboard
tensorflow
tensorflow-gpu
tensorflow-estimator
termcolor
tqdm
Werkzeug
